* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f2eded;
    font-family: 'calibri';
}

header {
    background: #ab0a07;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 1000px;
    margin: 0 auto;
}

img {
    width: 120px;
    height: 50px;
    float: center;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
    padding: 12px 0;
    float: left;
    position: relative;
    font-size: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #f2eded;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

img {
    height: 24%;
    width: 28%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(-100%);
    }
    35% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-200%);
    }
    55% {
        transform: translateX(-300%);
    }
    70% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(-400%);
    }
    90% {
        transform: translateX(-400%);
    }
    95% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(-500%);
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.slider {
    position: relative;
}

.slides {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slides:hover .slide {
    animation-play-state: paused;
}

.carousel-wrapper {
    height: 550px;
    position: relative;
    width: 700px;
    display: block;
    margin: 50px auto;
    border: 7px solid black;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('3img.jpg');
    background-size: contain;
}

.item-2 {
    background: url('klk.jpg');
    background-size: contain;
}

.item-3 {
    background: url('2img.jpg');
    background-size: contain;
}

*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}

.contenedor {
    align-content: center;
    justify-content: center;
    display: grid;
    height: 20vh;
}

.btn {
    border: 4px solid rgba(100, 1000, 100, 0, 1);
    margin-bottom: 25px;
    padding: 25px;
    width: 380px;
    font-family: 'poppins', sans-serif;
    border-radius: 35px;
    cursor: pointer;
    color: #fff;
    background-size: 500%;
}

.btn {
    background-image: linear-gradient(to left, #ff7676, #ef3620, #fad9d8, #d22d56, #c20000);
}